/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
@import 'bootstrap-sprockets';
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Permanent+Marker');

/*font-family: 'Nanum Pen Script', cursive;
font-family: 'Permanent Marker', cursive;*/
body {
	background-color: #dfeaf2;
}

h1 {
	font-family: 'Permanent Marker', cursive;
}

.panel-title {
	font-size: 35px;
	font-family: 'Nanum Pen Script', cursive;
	text-align: center;
}

.panel-creator{
	font-size: 25px;
	font-family: 'Nanum Pen Script', cursive;
	text-align: center;
}
.panel-body {
	font-size: 25px;
	font-family: 'Nanum Pen Script', cursive;
	text-align: center;
}

.panel-footer{
	text-align: right;
}


.show-pic{
	height: 200px;
	width: 200px;
}